@import '../../Styles/variables.module';

.quarterTable {
  padding: 0;
  width: 100%;
  margin-top: 10px;
  //table-layout: fixed;
  border-collapse: collapse;
  font-size: 0.9em;
  box-shadow: $boxShadow;
  text-align: center;

  & thead tr {
    background: $primaryColor;
    color: #fff;
  }

  & tbody tr {
    border-bottom: 1px solid #ddd;
  }
}

.infoRow {
  padding: 0;

  .infoItem {
    min-width: 100px;
    padding: 0;

    &:nth-child(4) {
      border-right: 2px solid #adadad;
    }

    &:nth-child(5) {
      border-right: 2px solid #adadad;
    }

    .wrapper {
      display: flex;


      .infoItemWeekNumber {
        flex: 1;
        padding: 0;
        min-width: 25px;
        border-right: 2px solid #ddd;
        &:last-child {
          border-right: 0;
        }
      }
    }


  }
}

.hint {
  margin-top: 5px;
  text-align: right;
  font-size: 0.8em;
}