@import '../../Styles/variables';

.taskRow {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  word-wrap: break-word;
  padding: 0;

  .taskWeeksRow {
    padding: 0;
    .activeCell,
    .cell {
      padding: 0;
      height: 15px;
      width: 25px;
      border-right: 1px solid #fff;

    }
    .activeCell {
      background: $primaryColor;
    }
  }
}
